@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dropzone/styles.css';

:root {
    --funkyPurpleDarkBackground: #151020;
    --funkyPurpleLightBackground: #faf5fc;

    @mixin light-root {
        --mantine-color-body: var(--funkyPurpleLightBackground);
    }
    @mixin dark-root {
        --mantine-color-body: var(--funkyPurpleDarkBackground);
    }
}
