@import '@/_styles/normalize.css';
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dropzone/styles.css';

:root {
    --funkyPurpleDarkBody: #201c2c;
    --funkyPurpleDarkAppshell: #191523;
    --funkyPurpleLightBody: #fbfbfb;
    --funkyPurpleLightAppshell: #d7d1d1;

    --mantine-color-body: var(--funkyPurpleLightBody);
    --app-color-appshell: var(--funkyPurpleLightAppshell);

    @mixin dark-root {
        --mantine-color-body: var(--funkyPurpleDarkBody);
        --app-color-appshell: var(--funkyPurpleDarkAppshell);
    }
}
