@layer base, mantine, tailwind;

@layer base {
    @tailwind base;
}

@layer tailwind {
    @tailwind components;
    @tailwind utilities;
}

@import '@mantine/core/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';
@import '@mantine/dropzone/styles.css';

:root {
    --funkyPurpleDarkBackground: #151020;
    --funkyPurpleLightBackground: #faf5fc;

    @mixin light-root {
        --mantine-color-body: var(--funkyPurpleLightBackground);
    }
    @mixin dark-root {
        --mantine-color-body: var(--funkyPurpleDarkBackground);
    }
}
