.mantine-Card-root {
    background-color: var(--app-color-card);
    box-shadow: var(--app-shadow-default);
}
.mantine-Avatar-placeholder,
.mantine-Avatar-image {
    background-color: var(--mantine-color-body);
}

.mantine-Popover-dropdown,
.mantine-TextInput-input,
.mantine-Textarea-input,
.mantine-NumberInput-input,
.mantine-MultiSelect-input,
.mantine-Checkbox-input,
.mantine-Pagination-control,
.mantine-DateTimePicker-input,
.mantine-DateInput-input,
.mantine-DatePickerInput-input,
.mantine-PasswordInput-input {
    background-color: var(--app-color-card);
    box-shadow: var(--app-shadow-default);
}
