.navContainer {
    align-items: center;

    @mixin larger-than $mantine-breakpoint-sm {
        align-items: flex-start;
    }
    @mixin smaller-than $mantine-breakpoint-sm {
    }
}

.linkGroupContainer {
    margin-left: 1.5rem;
}

.divider {
    border-color: var(--mantine-color-funkyPurple-9);
    @mixin dark {
        border-color: var(--mantine-color-funkyPurple-0);
    }
}
