.appShell {
    height: 100vh;

    background-color: var(--app-color-appshell);

    header,
    nav {
        background-color: var(--app-color-appshell);
        @mixin smaller-than $mantine-breakpoint-sm {
            background-color: var(--mantine-color-body);
        }
    }

    header {
        padding-right: 16px;
    }

    main {
        display: flex;
        flex-direction: column;
        @mixin smaller-than $mantine-breakpoint-sm {
            background-color: var(--mantine-color-body);
        }
    }
}

.headerContainer {
    height: 100%;
}

.headerLeft {
    @mixin larger-than $mantine-breakpoint-sm {
        width: 250px;
    }
    @mixin larger-than $mantine-breakpoint-md {
        width: 250px;
    }
    @mixin larger-than $mantine-breakpoint-lg {
        width: 300px;
    }
}

.mainContainer {
    background-color: var(--mantine-color-body);
    flex-grow: 1;
    border-radius: 16px;
    overflow-y: auto;
    padding: 1rem;
    @mixin smaller-than $mantine-breakpoint-sm {
        border-radius: 0;
    }
}

.searchInput {
    input {
        background-color: var(--mantine-color-body);
    }
}

.navContainer {
    align-items: center;
    @mixin larger-than $mantine-breakpoint-sm {
        align-items: flex-start;
    }
}
