.th {
    text-align: left;
    padding: 0;
    border: 0.1px solid var(--app-color-card);
}

.td {
    padding: 1rem;
    border-bottom: 0.1px solid var(--app-color-card);
}

.tr {
    border-spacing: 30px;
    border-bottom: 0.1px solid var(--app-color-card);
}

.tr:hover {
    background-color: var(--app-color-card);
}

.control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

    @mixin hover {
        background-color: light-dark(
            var(--app-color-card),
            var(--app-color-card)
        );
    }
}

.icon {
    width: rem(21px);
    height: rem(21px);
    border-radius: rem(21px);
}
