.navContainer {
    align-items: center;

    @mixin larger-than $mantine-breakpoint-sm {
        align-items: flex-start;
    }
    @mixin smaller-than $mantine-breakpoint-sm {
    }
    a {
        border-radius: var(--mantine-radius-default);
    }
    a:hover {
        background-color: darken(var(--funkyPurpleLightAppshell), 5%);

        @mixin dark {
            background-color: lighten(var(--funkyPurpleDarkAppshell), 5%);
        }
    }
}

.linkGroupContainer {
    margin-left: 1.5rem;
    a {
        border-radius: var(--mantine-radius-default);
    }
    a:hover {
        background-color: darken(var(--funkyPurpleLightAppshell), 5%);

        @mixin dark {
            background-color: lighten(var(--funkyPurpleDarkAppshell), 5%);
        }
    }
}

.divider {
    border-color: var(--mantine-color-funkyPurple-9);
    @mixin dark {
        border-color: var(--mantine-color-funkyPurple-0);
    }
}
